/*########## Defaults ##########*/

body {margin:0px;
padding:0px;
display:block;
line-height:1}


/*########## NavBar ##########*/

nav > ul {overflow:hidden;
background:#eee;
list-style-type:none;
padding:0px;
margin:0px;
font-size:15px;}

.navleft {float:left;}

.navright {float:right;}

nav > ul > li > a{display:block;
padding:8px;
color:#666;
text-decoration:none;}

nav > ul > li > a:hover{background-color:#0080ff;
color:white;}

nav > ul > li > hr { border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#unicode {display:none}


/*########## Mobile NavBar ##########*/

@media screen and (max-width: 680px) {
nav > ul > li:not(:nth-child(1)) {
display:none;
}

#unicode {display:block;
float:right}

.list.responsive li {display:block;
float:none}

.list.responsive > #unicode {position:absolute;
top:0;
right:0}
}


/*########## Form ##########*/

#section2 {width:100%;
display:flex;
padding:20px 0 20px 0;
background-size:100% 200%;
background-color: #1E90FF; /* Para navegadores que não suportam gradientes */
background-image: linear-gradient(#1E90FF,  #b3d9ff, red);}

.backgroundnormal {
background-position:0% 0%;}

.blackgroundblue {
animation: bluebackground 1s;
animation-fill-mode: forwards;}

.blackgroundred {
animation: redbackground 1s;
animation-fill-mode: forwards;}

.font1 {font-size:32px;
color:white;
text-shadow: 2px 2px 4px #000000;
font-family:Lobster;
margin:0;
padding:0;}

.font2 {color:white;
text-shadow:0px 2px 3px #555;
font-size:14px;
margin-bottom:5px;
padding:0}

#login {width:250px;
margin:auto;
padding:0px;}

.requerimentos {
  font-size: 13px;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px 0 0 -38px;
  color: red;
}

.itemlist {text-decoration: none;
color:red;}

.itemlist.checked {text-decoration: line-through;
color:green;}

.overflowform {height:25px;
overflow:hidden}

.visibleform {overflow:visible;}

.visibleform > #userrequerimentos {
animation: userformtranslate 2s;
animation-fill-mode: forwards;}

#iframevideo {display:block;
width:250px;
margin:auto;
padding:0px;}

#formnovousuario,#formlogin {margin-top:15px;
display:visible;}

.displayform {display:visible}

.displayform.notdisplayform {display:none}

.displayform.out {display:visible;
position:relative;
animation-name: formmoveout;
animation-duration: 1s;
animation-fill-mode: forwards;}

.displayform.in {display:visible;
position:relative;
animation-name: formmovein;
animation-duration: 1s;
 animation-fill-mode: forwards;}

.inputbox {width:97%;
border-radius: 6px;
border: 1px solid black;}

#submitbutton{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 24px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
display:block;
margin:auto;
}

#submitbutton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#submitbutton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#submitbutton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


/*########## Mobile Form ##########*/

@media screen and (max-width: 680px) {
#section2 {display:block;}

#iframevideo {margin-top:50px}
}


/*########## Text Box ##########*/

#textbox {width:100%;
background-color: #e6e6e6; /* Para navegadores que não suportam gradientes */
background-image: linear-gradient(#ffffff 0%, #ffffff 50%, #b3b3b3 100%);
margin:0;
padding:0;
display:block;
text-align:center;}

h3 {font-size:30px;
margin-top:5px;
color:black;
font-weight: bold;}

.textboxtitle {font-size:20px;
font-weight: bold;}

.justificado {text-align:justify;
margin-left:10px;
margin-right:10px;}

#beneficios{display:flex;
justify-content: space-between;
margin-top:-15px;
padding:0px 150px 0 150px;
}

.propaganda {border: 1px solid   #00CCFF;
border-radius: 6px;
width:85%;
margin:10px;}

.propaganda > img{width:50%;
filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

hr{border: 1px solid black;}

.textboxbutton {  
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top:25px;
  margin-bottom:25px;
  outline: none;
  overflow: visible;
  padding: 13px 6px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 125px;
}

.textboxbutton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.textboxbutton:main,
.textboxbutton:focus {
  user-select: auto;
}

.textboxbutton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.textboxbutton:disabled {
  cursor: auto;
}


/*########## Text Box Mobile ##########*/

@media screen and (max-width: 1050px) {
#beneficios{padding:0px 0px 0 0px;
display:block;}

.propaganda {margin:auto}

.propaganda > img {float:left;
width:100px;
}

h3 {font-size:24px}
}


/*########## Section 4 ##########*/

#section4 {display:flex;
padding:0px;
justify-content: space-between;}

.section4text {width:50%;
text-align:justify;
margin:auto;
padding:0 0px 0 100px;}

.section4image{width:50%;
height:100%}

.section4image > img {width:65%;
height:100%;
display:block;
margin:auto;
padding:15px 0 15px 0}


/*########## Section 4 Mobile ##########*/

@media screen and (max-width: 1150px) {
#section4 {display:block;}

.section4text {width:85%;
padding:0px 0px 0px 0px;}

.section4image {width:100%;}

.section4image > img {width:350px;
height:200px;
display:block;
margin:auto}
}


/*########## Footer ##########*/

#footer {width:100%;
display:flex;
justify-content: space-between;
background: #5a5a5a;
background: linear-gradient(#5a5a5a 0%, #3b3b3b 100%);}

.informacoes {margin: -10px auto -5px auto;
text-align:center;}

.informacoes > H1 {font-size:18px;
color:#dedede;}

.informacoes > H2 {font-size:12px;
color:#aba9a9;}

#webmaster {width:100%;
text-align:center;
font-size:12px;
background:black;
color:white;}